<template>
    <v-item-group mandatory>
        <v-container>
            <v-row v-for="i in 2" :key="i">
                <v-col
                        v-for="n,index in bets"
                        :key="index"
                        cols="12"
                        md="4"
                >
                    <bet-card :betToDisplay="n"></bet-card>
                </v-col>
            </v-row>
        </v-container>
    </v-item-group>
</template>

<script>
    import BetCard from '../components/BetCard'
    import { mapState } from 'vuex'

    export default {
        name: "BetsList",
        components: {'bet-card': BetCard},
        computed: {
            ...mapState(['bets'])
        }
    }
</script>
