<template>
    <v-item>
        <v-card
                class="d-flex align-center"
                @click.stop="openDialog"
                color="#bad6e6"
        >
            <bet-description
                    @closeDialog="closeDialog"
                    :betToDisplay="betToDisplay"
                    :dialogStatus="dialogStatus"
            ></bet-description>

            <div>
                <v-card-title>
                    <div class="headline font-italic font-weight-light">
                        {{betToDisplay.title}}
                    </div>
                </v-card-title>

                <v-card-actions class="mx-12">
                    <vs-icons
                            :user1="this.betToDisplay.user1"
                            :user2="this.betToDisplay.user2"
                    ></vs-icons>
                </v-card-actions>

                <v-card-text class="display-6 d-inline-block text-truncate" style="max-width: 300px; ">
                    {{betToDisplay.description}}
                </v-card-text>
            </div>
        </v-card>
    </v-item>
</template>

<script>
    import BetDescDialog from "./BetDescDialog";
    import VS from "./IconsVS";

    export default {
        name: "BetCard",
        props: ['betToDisplay'],
        components: {'bet-description': BetDescDialog, 'vs-icons': VS},
        data() {
            return {
                dialogStatus: false
            }
        },
        methods: {
            openDialog() {
                this.dialogStatus = true;
            },
            closeDialog() {
                this.dialogStatus = false;
            }
        }
    }
</script>
