<template>
    <v-dialog
            v-model="dialogStatus"
            max-width="290" @click:outside="closeDialog"
    >
        <v-card class="align-center">
            <v-card-title class="headline"> {{betToDisplay.title}} </v-card-title>

            <vs-icons
                    :user1="this.betToDisplay.user1"
                    :user2="this.betToDisplay.user2"
            ></vs-icons><br>

            <v-divider></v-divider>

            <v-card-text id="bet-cost" class="display-1" align="center" > {{betToDisplay.bet_cost}} </v-card-text>

            <v-divider></v-divider>

            <v-card-text> {{betToDisplay.description}} </v-card-text>

            <v-card-text align="center">
                <v-btn
                        color="success"
                        text
                        @click="closeDialog"
                >
                    I WON!!!
                </v-btn>

                <v-btn
                        color="warning"
                        text
                        @click="closeDialog"
                >
                    I LOST.
                </v-btn>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import VS from "./IconsVS";

    export default {
        name: "BetDescDialog",
        props: ['dialogStatus', 'betToDisplay'],
        components: {
          'vs-icons' : VS
        },
        methods: {
            closeDialog() {
                this.$emit('closeDialog');
            }
        }
    }
</script>