<template>
    <div>
        <v-card-actions class="justify-center">
            <v-img :src="imgUrl(user1.gender)" width="75px"></v-img>
            <v-card-text align="center" class="display-1">VS</v-card-text>
            <v-img :src="imgUrl(user2.gender)" width="75px"></v-img>

        </v-card-actions>

        <div>
            <p class="user-name float-left title">{{user1.name}}</p>
            <p class="user-name float-right title">{{user2.name}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IconsVS",
        props: ['user1', 'user2'],
        data() {
            return {
                urlMale: require("@/../public/male.png"),
                urlFemale: require("@/../public/female.png")
            }
        },
        methods: {
            imgUrl(user) {
                if (user == "male") {
                    return this.urlMale;
                } else if (user == "female") {
                    return this.urlFemale;
                }
            }
        }
    }
</script>

<style scoped>
    .user-name {
        padding-left: 25px;
        padding-right: 25px;
    }
</style>
