<template>
    <v-bottom-navigation fixed
            shift color="primary" grow
    >
        <v-btn to="/Contacts">
            <span>מתערבים</span>
            <v-icon>mdi-account-group</v-icon>
        </v-btn>

        <v-btn to="/NewBet">
            <span>הוספת התערבות</span>
            <v-icon>mdi-plus-circle</v-icon>
        </v-btn>

        <v-btn to="/">
            <span>התערבויות</span>
            <v-icon>far fa-handshake</v-icon>
        </v-btn>
    </v-bottom-navigation>
</template>

<script>
    export default {
        name: "navbar",
        theme: {
            myTheme: true,
        },
    }
</script>
