<template>
  <v-app>
    <v-content>
      <v-container>
        <router-view></router-view>
        <NavBar/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from './components/Navbar.vue'
export default {
  name: 'App',
  components: {
    NavBar,
  }
};
</script>
